<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading" translate="enter-survey"></div>
        <div class="panel-body">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="3000" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form ng-submit="submitSurvey()">

              <div class="form-group" ng-class="{ 'has-error': loginForm.surveyTitle.$dirty && loginForm.surveyTitle.$error.required || loginForm.surveyTitle.$dirty && !loginForm.surveyTitle.$valid }">
                  <label for="surveyTitle" translate="survey-title"></label>
                  <input required type="text" class="form-control" name="surveyTitle" id="surveyTitle" ng-model="entry.title">
                  <span ng-show="loginForm.surveyTitle.$dirty && loginForm.surveyTitle.$error.required" class="help-block" translate="surveyTitle-required"></span>
                  <span ng-show="loginForm.surveyTitle.$dirty && !loginForm.surveyTitle.$valid" class="help-block" translate="surveyTitle-invalid"></span>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.surveyBody.$dirty && loginForm.surveyBody.$error.required || loginForm.surveyBody.$dirty && !loginForm.surveyBody.$valid }">
                  <label for="surveyBody" translate="survey-body"></label>
                  <input required type="text" class="form-control" name="surveyBody" id="surveyBody" ng-model="entry.body">
                  <span ng-show="loginForm.surveyBody.$dirty && loginForm.surveyBody.$error.required" class="help-block" translate="survey-body-required"></span>
                  <span ng-show="loginForm.surveyBody.$dirty && !loginForm.surveyBody.$valid" class="help-block" translate="survey-body-invalid"></span>
              </div>

              <div class="form-group" ng-class="{ 'has-error': loginForm.surveyOptions.$dirty && loginForm.surveyOptions.$error.required || loginForm.surveyOptions.$dirty && !loginForm.surveyOptions.$valid }">
                  <label for="surveyOptions" translate="survey-options"></label>
                  <small translate="new-line-per-option"></small>
                  <textarea required class="form-control" name="surveyOptions" id="surveyOptions" ng-model="entry.options"></textarea>
                  <span ng-show="loginForm.surveyOptions.$dirty && loginForm.surveyOptions.$error.required" class="help-block" translate="survey-options-required"></span>
                  <span ng-show="loginForm.surveyOptions.$dirty && !loginForm.surveyOptions.$valid" class="help-block" translate="survey-options-invalid"></span>
              </div>

              <button type="submit" class="btn btn-primary submit-minutes-read"><span translate="submit-survey"></span></button>

            </form>
        </div>
    </div>
</div>
