<div class="modal-content">
    <div class="modal-header" align="center">
        <h4 class="modal-title pull-left" translate="login"></h4>
    </div>

    <form name="loginForm" ng-submit="login()" role="form">
        <div class="modal-body">
            <div ng-show="form.msgTranslateId" class="alert alert-danger" role="alert">{{form.msgTranslateId | translate}}</div>
            <div class="form-group" ng-class="{ 'has-error': loginForm.email.$dirty && loginForm.email.$error.required || loginForm.email.$dirty && !loginForm.email.$valid }">
                <label for="email" translate="email-address"></label>
                <input required type="email" class="form-control" name="email" id="email" ng-model="user.email">
                <span ng-show="loginForm.email.$dirty && loginForm.email.$error.required" class="help-block" translate="email-required"></span>
                <span ng-show="loginForm.email.$dirty && !loginForm.email.$valid" class="help-block" translate="email-invalid"></span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': loginForm.password.$dirty && loginForm.password.$error.required || loginForm.password.$dirty && !loginForm.password.$valid }">
                <label for="password" translate="password"></label>
                <input required type="password" class="form-control" name="password" id="password" ng-model="user.password">
                <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block" translate="password-required"></span>
                <span ng-show="loginForm.password.$dirty && !loginForm.password.$valid" class="help-block" translate="password-invalid"></span>
            </div>

        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="loginForm.$invalid || form.isLoading" translate="login"></button>
            </div>
        </div>
    </form>

</div>